body {
    background-color: black;
	text-align: center;
	color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

.restart-modal {
  	background-color: lightgray;
  	margin: auto;
  	padding: 15px 0;
  	border: 1px solid #888;
  	width: 30%;
  	color: black;
}